body {
    
    background: rgb(213, 224, 49);
    padding-top: 22px;
    padding-left: 5px;
    text-align: left;
    overflow-x: hidden;
}
.top-layer {
    background-color: rgb(11, 178, 108);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.bottom-layer { 

    background-color: rgb(11, 178, 108); 
    height: 100px; 
    width: 100%; 
    margin-top: 110px;
    top: 0; 
    left: 0;
    z-index: 1000;
   text-align: center;
    display: flex; 
  align-items: center;
    justify-content: center;
    padding: 0 20px;